{{ define "main" }}
<article class="page-single">

<section class="section bg-white" style="min-height: 50vh; display: flex; align-items: center;">
  <div class="container text-center">
    <h1 class="section-title reveal">{{ i18n "signin_title" }}</h1>
    <p class="reveal">{{ i18n "signin_desc" }}</p>
    <p class="reveal"><a href="{{ .Site.Params.appURL }}/signin" class="btn btn-outline">{{ i18n "signin_button" }}</a></p>
  </div>
</section>

</article>

<script>
  window.location.href = "{{ .Site.Params.appURL }}/signin";
</script>
{{ end }}
